{% include 'header.html' %}
<div class="container my-4">
    <h2 class="my-4">Editar Maestro</h2>
    
    <form method="post" action="/update" enctype="multipart/form-data">
        <div class="card mb-4">
            <div class="card-header">
                Editar maestro
            </div>
            <div class="card-body">
                <h5 class="card-title">Datos del maestro</h5>
                <input type="hidden" value="{{ docente[0] }}" name="txtID" id="txtID">
                <div class="form-group">
                    <label for="txtNombre">Nombre:</label>
                    <input id="txtNombre" value="{{ docente[1] }}" class="form-control" type="text" name="txtNombre" required>
                </div>
                <div class="form-group">
                    <label for="txtApellido">Apellido:</label>
                    <input id="txtApellido" value="{{ docente[2] }}" class="form-control" type="text" name="txtApellido" required>
                </div>
                <div class="form-group">
                    <label for="txtDni">DNI:</label>
                    <input id="txtDni" value="{{ docente[3] }}" class="form-control" type="text" name="txtDni" readonly style="background-color: #e9ecef;">
                </div>
                <div class="form-group">
                    <label for="txtCorreo">Correo:</label>
                    <input id="txtCorreo" value="{{ docente[4] }}" class="form-control" type="email" name="txtCorreo">
                </div>
                <div class="form-group">
                    <label for="txtMateria">Materia:</label>
                    <input id="txtMateria" value="{{ docente[5] }}" class="form-control" type="text" name="txtMateria" required>
                </div>
                <div class="form-group">
                    <label for="txtFoto">Foto:</label>
                    <img class="img-thumbnail" width="100" src="{{ url_for('uploads', nombreFoto=docente[6]) }}" alt="Foto del maestro">
                    <input id="txtFoto" class="form-control-file" type="file" name="txtFoto">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-sm" value="Actualizar">
                    <a href="{{ url_for('index') }}" class="btn btn-primary btn-sm">Regresar</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% include 'footer.html' %}