</div> <!-- Cierra el div.container abierto en header.html -->
<footer class="footer mt-auto py-3 bg-light">
    <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <div class="pie"><h6>Contacto: repositoriogeneral@repo.com.ar</h6></div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>